---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Intro from '../components/Intro.astro';
import Header from '../components/Header.astro';
import Biography from '../components/Biography.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Testimony from '../components/Testimony.astro';
import Prefooter from '../components/Prefooter.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Bienvenidos a la pagina Oficial de Mina Andacollita" description='El lugar donde renovaras tus energias a traves de las camas de cuarzo.'>
	<main>
		<Header />
		<Intro />
		<Biography />
		<BentoGrid/>
		<Testimony/>
		<Prefooter/>
		<Footer/>
	</main>
</Layout>

<style>
	
</style>
