---

---

<section id="about" class="w-full flex justify-center items-center pt-20">
  <div
    class="w-full flex flex-col md:flex-row max-w-[1000px] gap-8 md:gap-4
    mx-auto font-semibold px-4 md:px-2 justify-center"
  >
    <img
      class="rounded-xl border-2 w-full md:w-96 "
      src="/images/bg_desierto.jpg"
      alt="imagen del desierto"
    />
    <div class="text-justify px-4 font-semibold text-balance text-base">
      <h4 class="text-xl font-bold text-[#FFC078] pb-4">
        <hr class="w-[60%] border-[#FFC078]" />Biografía de<strong> "La dama de hierro"</strong>
      </h4>
      <h1 class="text-4xl font-semibold pb-4">
        <strong> Descubre</strong><br />Los inicios de Maria Angelica Lemus, <br />dueña de la Mina Andacollita
      </h1>
      <p
      >Al igual que la destacada dirigente de Diego de Almagro, Zulema Soto en la Región de Atacama existe una ingeniera en ejecución en minas, Doña María Angélica Lemus, quien se abrió camino en este mundo masculinizado. Con casi 60 años en el rubro, María Angélica ha contado en algunas entrevistas que recorría los cerros junto a su abuelo desde los seis años, y desde entonces se enamoró de la minería.

      Por ello, decidió estudiar en la universidad y tras obtener su título, se desempeñó entre los años 1975 y 1980, en el cargo de Jefa de Mina en faenas como "San Ramón", "El Culebrón" y "Santa Rosa". Más adelante, se convirtió en contratista de traslado de mineral y desmontes. Fue la primera mujer en obtener la licencia de manipuladora de explosivos y, con el tiempo, decidió explotar sus propias minas, heredadas de su abuelo.
      
      La primera vez que escuché hablar de ella fue en Copiapó, donde se comentaba sobre una mina ubicada en Sierra Chicharra, conocida como Mina Andacollita, donde sólo trabajaban mujeres. Al principio, la mina contaba con trabajadores hombres, pero un día, al llegar doña María Angélica sin previo aviso, descubrió que los mineros estaban "curados". Tras pagarles y despedirlos por incumplir las normas, decidió contratar exclusivamente mujeres. Así, conformó un equipo de cinco mujeres que realizaban diversas tareas en la mina. Ella misma se encargaba de la carga explosiva y lideraba los turnos, mientras que su madre organizaba la "cantina". Otras mujeres, primas de María Angélica, se desempeñaban como "cancheras", "apires" y/o "perforas" (maestras perforistas), según lo que se necesitara. Por este trabajo fue galardonada en muchas oportunidades.
      
      Desafortunadamente, varias veces la mina "se fue a panteón", es decir, que el mineral entregado para la venta no cumplía con la ley mínima exigida para recibir pago, o bien contenía demasiadas impurezas. Ante esto, María Angélica se reinventó y decidió seguir explotando la mina, pero ya no para vender a ENAMI, sino para convertirla en un centro de sanación, con camas de cuarzo, cobre y turmalina.
      
      Estas dos mujeres, para mí, son auténticas "lideresas". Aunque algunos se nieguen a aceptar y reconocer este término, les informo que la Real Academia Española sí lo admite. Como yo reconozco en la Sra. Zulema y María Angélica, a mujeres que han sabido enfrentar la adversidad, demostrando que el liderazgo no es exclusivo de los hombres.
      </p>
    </div>
  </div>
</section>
