---

---

<section id="about" class="w-full flex justify-center items-center pt-20">
  <div
    class="w-full flex flex-col md:flex-row max-w-[1000px] gap-8 md:gap-4
    mx-auto font-semibold px-4 md:px-2 justify-center"
  >
    <img
      class="rounded-xl border-2 w-full md:w-96 "
      src="/images/bg_desierto.jpg"
      alt="imagen del desierto"
    />
    <div class="text-justify px-4 font-semibold text-balance text-base">
      <h4 class="text-xl font-bold text-[#FFC078] pb-4">
        <hr class="w-[60%] border-[#FFC078]" />Biografía de<strong> "La dama de hierro"</strong>
      </h4>
      <h1 class="text-4xl font-semibold pb-4">
        <strong> Descubre</strong><br />Los inicios de Maria Angelica Lemus, <br />dueña de la Mina Andacollita
      </h1>
      <p
      >María Angélica Lemus, ingeniera en minas de la Región de Atacama, ha dedicado casi 60 años a la minería, inspirada desde niña por su abuelo. Fue Jefa de Mina en varias faenas entre 1975 y 1980, y la primera mujer en Chile en obtener licencia para manipular explosivos. Tras una experiencia negativa con trabajadores hombres, decidió que su mina Andacollita —heredada de su abuelo— fuera operada solo por mujeres, liderando un equipo femenino en todas las labores. Reconocida por su trayectoria, enfrentó momentos difíciles cuando el mineral no cumplía con los estándares, por lo que reinventó la mina como un centro de sanación con cuarzo, cobre y turmalina. Es un ejemplo de liderazgo y resiliencia femenina en la minería chilena.
      </p>
    </div>
  </div>
</section>
