---

---
<section class="w-full flex justify-center items-center relative">
    <div class="w-full max-w-[1200px]
    grid grid-cols-12 auto-rows-[20rem] md:auto-rows-[25rem] gap-2
    mx-auto py-20 font-semibold px-4 md:px-2 ">
    <div class="rounded-xl border-2 col-span-12 md:col-span-5 md:col-start-2 items-center w-full h-full overflow-hidden bg-center bg-cover
    bg-no-repeat" style="background-image: url('/images/bg_desierto.jpg');">
    </div>
    <div class="rounded-xl border-2 col-span-12 md:col-span-5 md:col-start-7 items-center w-full h-full overflow-hidden bg-center bg-cover
    bg-no-repeat" style="background-image: url('/images/bg_desierto2.jpg');">
    </div>
    <div  class="rounded-xl border-2 col-span-12 md:col-span-10 md:col-start-2 items-center w-full h-full overflow-hidden bg-center bg-cover
    bg-no-repeat" style="background-image: url('/images/bg_desierto3.jpg');">
    </div>
    </div>
</section>