---

---

<div class="w-full relative">
    <div class="absolute top-48  bottom-0 z-10 max-w-[1200px] left-0 right-0 m-auto px-20">
        <h4 class="text-lg md:text-2xl font-bold text-[#FFC078]"><hr class="w-30 md:w-60 border-[#FFC078]">Renueva tus energias</h4>
        <h1 class="text-4xl md:text-7xl font-semibold"><strong> Descubre </strong><br>Las camas de cuarzo <br><span class="bg-gradient-to-r from-red-600 via-orange-500 to-yellow-400 inline-block text-transparent bg-clip-text"> Mina Andacollita</span></h1>
    </div>
    <img class="w-full h-screen object-cover object-top" src="/images/bg_desierto3.jpg" style="clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);"/>
    <img class="absolute -bottom-10 blur-3xl -z-40" src="/images/bg_desierto3.jpg"/>
</div>