---

---

<section id="testimonies" class="w-full flex justify-center items-center">
    <div
      class="w-full flex flex-col md:flex-row max-w-[1000px] gap-8 md:gap-4
      mx-auto pb-20 font-semibold px-4 md:px-2"
    >
      
      <div class="text-justify px-4 font-semibold text-balance text-base">
        <h4 class="text-xl font-bold text-[#FFC078] pb-4">
          <hr class="w-[60%] border-[#FFC078]" />Camas de cuarzo
        </h4>
        <h1 class="text-4xl font-semibold pb-4">
          <strong>Sanación</strong> y <strong>bienestar</strong> desde el corazón de la tierra.
        </h1>
        <p
        >
        En nuestras camas de cuarzo, muchas personas han encontrado alivio real frente a enfermedades complejas. El calor natural del cuarzo ayuda a desinflamar, mejora la circulación y estimula el sistema inmunológico, creando condiciones óptimas para la recuperación del cuerpo. Este tratamiento ha sido clave en el camino de sanación de quienes buscan una alternativa natural, efectiva y profunda.
        Ven a experimentar el poder sanador del cuarzo, y dale a tu cuerpo la oportunidad de volver a sentirse bien.
        </p>
      </div>
      <img
        class="rounded-xl border-2 w-full md:w-96"
        src="/images/bg_desierto2.jpg"
        alt="imagen del desierto"
      />
    </div>
  </section>
  