---

---

<section id="testimonies" class="w-full flex justify-center items-center">
    <div
      class="w-full flex flex-col md:flex-row max-w-[1000px] gap-8 md:gap-4
      mx-auto pb-20 font-semibold px-4 md:px-2"
    >
      
      <div class="text-justify px-4 font-semibold text-balance text-base">
        <h4 class="text-xl font-bold text-[#FFC078] pb-4">
          <hr class="w-[60%] border-[#FFC078]" />Testimonios de éxitos
        </h4>
        <h1 class="text-4xl font-semibold pb-4">
          <strong> Descubre</strong><br />Lo que las camas de cuarzo <br />de la Mina Andacollita pueden hacer por ti
        </h1>
        <p
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates id
          quis, aut fugiat doloribus dolore, explicabo, odio temporibus inventore
          ex error consequatur natus repudiandae illum eos beatae repellendus.
          Rem, quas. Magnam veniam, laborum eveniet molestias debitis ratione cum
          nostrum hic iusto est id in magni reiciendis rem earum soluta
          perferendis optio. Cumque porro excepturi nostrum accusamus ex, optio
          dignissimos odit. Nobis velit obcaecati, voluptatem est quidem, laborum
          iste, sunt in voluptate saepe ea enim! Modi doloremque accusantium
          quidem consequatur! Enim accusamus adipisci odio repudiandae?
          Repudiandae, neque! Accusantium amet praesentium doloremque.
        </p>
      </div>
      <img
        class="rounded-xl border-2 w-full md:w-96"
        src="/images/bg_desierto2.jpg"
        alt="imagen del desierto"
      />
    </div>
  </section>
  